* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s;
  font-family: 'Nunito', sans-serif;
}

.container-fluid-easyclub {
  box-shadow: none;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
}

.main-div .title-easyclub {
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 60% 50%;
  grid-template-areas: "logo text1"
                       "logo text2";
  justify-content: center;
  padding-left: 5vmax;
}

.main-div .title-easyclub .title-easyclub-legend{
  font-size: 5vmax;
}

.fa-gamepad {
  display: flex;
  height: 100%;
  font-size: 8vmax;
  grid-area: logo;
  align-items: center;
  justify-content: center;
}


.main-div .benefits-easyclub {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: start;
  justify-content: start;
  padding-left: 10vmin;
}

.main-div .benefits-easyclub .legend-benefits {
  font-size: 3vmin;
}


.main-div2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.main-div2 .username-client {
  width: 100%;
  height: 100%;
  justify-content: center;

  display: grid;

  grid-template-columns: 5% 50%;
  grid-template-rows: 10% 10% 10%;

  grid-template-areas: "logo text1"
                       "logo text2"
                       "logo text3";

  font-size: 2.5vmin;
  grid-column-gap: 2vmin;
  
}

.fa-star {
  grid-area: logo;
  font-size: 5vmin;
}

.main-div2 .image-trophy {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-bottom: 10vmin;
}

.main-div2 .image-trophy .svg-img {
  width: 50%;
}

.legend-benefits{
  width: 100%;

}

@media(max-width: 390px){
  .legend-benefits, .benefits-easyclub{
    font-size: 3.5vw;
  }
  .title-easyclub{
    transform: scale(0.8);
  }
  .username-client{
    padding-top: 30px;
  }
  .username-client-legend{
    padding-left: 10px;
    padding-top: 5px;
  }
  .image-trophy{
    transform: scale(2) scaleX(-1);
    padding-bottom: 100px;
  }
}
