* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}


.body-reserva-pag-reserva {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
.navegador-pagina{
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 25px;
}
header h1 {
    margin-bottom: 15px;
    text-decoration: none;
    list-style-type: none;
}
.header-menu{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
}
.header-menu a {
    color: #0033CC;
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
}
.header-menu-link{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}
.header-menu-usuario ul{
    display: flex;
    gap: 15px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.header-menu-usuario a{
    color: #0033CC;
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.usuario-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

@media (max-width: 940px) {
    .navegador-pagina{
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 10px;
    }
}
@media (max-width: 720px) {
    .header-menu-link{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

/*Seção de reserva de veículos*/
.reservar-carro{
    display: flex;
    background-color: #0033CC;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 10px;
}
.btn-reserva-de-veiculos p{
    height: 100%;
    text-decoration: none;

}
.btn-reserva-de-veiculos{
    background: #0CDAC3;
    border: 1px solid #0CDAC3;
    border-radius: 4px;
    color: white;
    padding: 20px 50px;
    font-weight: 90;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 1260px) {
    .reservar-carro{
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 820px) {
    .reservar-carro{
        width: 100%;
    }
}
@media (max-width: 1260px) {
    .btn-reserva-de-veiculos{
        width: 100%;
    }
}
@media (max-width: 1260px) {
    .card-body{
        width: 100%;
    }
}

/*inicio da descrição do programa Easy Club*/
.minhas-reservas-pag-reserva {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5vmin;
    justify-content: center;
    height: 50vh;
}

.reservas-reserva-pag-reserva {}

.titulo-destaque-reserva {
    width: 100%;
}

.programa-easy-reserva {
    margin: 0px;
}

@media (max-width: 1260px) {
    .reservar-carro{
        flex-direction: column;
    }
}
@media (max-width: 820px) {
    .reservar-carro{
        width: 100%;
    }
}

/*início cadastro do e-mail para promoções*/
.linha-divisao{
    width: 100%;
    height: 5px;
    background: #0033CC;
    border: none;
    margin: 0;
}
.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.cadastro h3{
    font-size: 2rem;
    margin-bottom: 30px;
}

.cadastro p {
    max-width: 600px;
    margin-bottom: 35px;
    font-size: 1.2rem;
    text-align: center;
}

.cadastro form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 600px;
}

.cadastro form input {
    padding: 15px;
    border: 1px solid #0CDAC3;
    border-radius: 4px;
    margin-right: 15px;
    width: 3000px;
}

.cadastro form button {
    padding: 15px;
    background: #0CDAC3;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.cadastro-email{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    width: 100%;
}
/*fim cadastro do e-mail para promoções*/

/*início rodapé*/
.rodape{
    background-color: #0033CC;
    text-decoration: none;
    list-style-type: none;
}

.rodape ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 80%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.rodape p {
    background-color: #0033CC;
    text-align: center;
    color: #0CDAC3;
    font-size: large;
    padding-bottom: 10px;
    margin: 0;
}
/*fim rodapé*/




.nav-item{
    align-items: end;
    justify-content: center;
    color: #0033CC;
    display: flex;
    margin-right: 10px;
}
/*inicio da reserva de veículos*/
.alugar-carro{
    display: flex;
    background-color: #0033CC;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px;
}

/*inicio da descrição do programa Easy Club*/
.apresentacao-do-programa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 25px;
    gap: 20px;
}

@media (max-width: 940px) {
    .apresentacao-do-programa{
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 10px;
    }
}


/*inicio dos níveis do Easy Club*/
.niveis-easyclub{
    justify-content: space-between;
    display: flex;
    padding: 25px;
}
@media (max-width: 1260px) {
    .niveis-easyclub{
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 10px;
        align-items: center;
    }
}
.nivel-1{
    border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}
.nivel-1-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0033CC;
    padding: 10px;
}
.nivel-1-beneficio-1{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-1-beneficio-2{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-1-beneficio-3{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-1-obs{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94A1B2;
    padding: 10px;
}
.nivel-2{
    border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}
.nivel-2-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0033CC;
    padding: 10px;
}
.nivel-2-beneficio-1{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-2-beneficio-2{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-2-beneficio-3{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-2-obs{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94A1B2;
    padding: 10px;
}
.nivel-3{
    border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}
.nivel-3-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0033CC;
    padding: 10px;
}
.nivel-3-beneficio-1{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-3-beneficio-2{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-3-beneficio-3{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nivel-3-obs{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94A1B2;
    padding: 10px;
}